<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:rel="stylesheet" th:href="@{assets/select2-develop/dist/css/select2.css}"/>
    <link th:rel="stylesheet" th:href="@{assets/select2-bootstrap4-theme-master/dist/select2-bootstrap4.css}"/>
    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>
<div th:replace="main :: header">

</div>

<div class="container">
    <div class="row">
        <div class="mt-5 col-sm-12">
            <a href="/produtos/novo" class="btn btn-primary" type="submit">Novo Produto</a>
        </div>
        <div class="mt-5 col-sm-12">
            <table class="table table-stripered table-bordered">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Fornecedor</th>
                    <th scope="col">Preço</th>
                    <th scope="col">#</th>
                    <th scope="col">#</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="produto : ${produtos}">
                    <th th:text="${produto.id}">1</th>
                    <td th:text="${produto.nome}">Mark</td>
                    <td th:text="${produto.categoria.nome}">Mark</td>
                    <td th:text="${produto.fornecedor.nome}">Mark</td>
                    <td th:text="${produto.preco}">Mark</td>
                    <td><a th:href="@{/produtos/__${produto.id}__/editar}">Editar</a></td>
                    <td><a th:href="@{/produtos/__${produto.id}__/excluir}">Excluir</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>