<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:rel="stylesheet" th:href="@{assets/select2-develop/dist/css/select2.css}"/>
    <link th:rel="stylesheet" th:href="@{assets/select2-bootstrap4-theme-master/dist/select2-bootstrap4.css}"/>
    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>
    <div th:replace="main :: header">

    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-12 mt-5">

                <form method="post"
                      th:action="${isEdicao} ? @{/fornecedores/__${fornecedorId}__/editar} : @{/fornecedores/novo}"
                      th:object="${fornecedorDTO}">

                    <div class="form-group">
                        <label for="nome">Nome do fornecedor:</label>
                        <input type="text" th:field="*{nome}" id="nome">
                    </div>

                    <div class="form-group">
                        <label for="endereco">Endereço do fornecedor:</label>
                        <input type="text" th:field="*{endereco}" id="endereco">
                    </div>

                    <button class="btn btn-primary"
                            type="submit" th:text="${isEdicao ? 'Editar' : 'Cadastrar'}">Cadastrar</button>
                </form>
            </div>

        </div>
    </div>

</body>
</html>