<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Farmácia</title>
</head>
<body>

<div th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="container" th:with="urlAtual=${#httpServletRequest.requestURI}">
            <a class="navbar-brand" href="/">Farmácia</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/categorias" th:classappend="${urlAtual.contains('categorias') ? 'active' : ''}">Categoria</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/fornecedores" th:classappend="${urlAtual.contains('fornecedores') ? 'active' : ''}">Fornecedor</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/produtos" th:classappend="${urlAtual.contains('produtos') ? 'active' : ''}">Produto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/vendas" th:classappend="${urlAtual.contains('venda') ? 'active' : ''}">Venda</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

</body>
</html>